<section class="container">
    <section class="row text-center mt-1">
        <div class="col-sm-12 mb-3" id="header">
            <h1>Eat-Da-Burger</h1>
        </div>
    </section>
    <section id="burger-input">
        <div class="row text-center">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="card mt-3 mb-3" id="dream-burger" style="width: 100%;">
                    <div class="card-body">
                        <form class="create-form" action="/api/burgers" method="POST">
                            <div class="form-group">
                                <h3 class="card-title">Dream-Da-Burger</h3>
                                <br>
                                <input type="text" id="da-burger" name="name" size="auto" maxlength="255">
                            </div>
                            <button type="submit" class="burger-button">Cook-Da-Burger</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </section>
    <section id="burger-display">
        <div class="row text-center">
            <div class="col-sm-6">
                <div class="card mt-3" style="width: 100%;">
                    <img class="card-img-top" id="burger-img" src="/assets/img/eat-burger1.jpg" alt="Plate Image">
                    <div class="card-body">
                        <h3 class="card-title">Eat-Da-Burger</h3>
                        <ul>
                            {{#each burgers}}
                            {{#unless this.devoured}}
                            <p>
                                {{this.burger_name}}
                                <button class="eat-burger burger-button" data-id="{{id}}">
                                    Um-Num!
                                </button>
                            </p>
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mt-3" style="width: 100%;">
                    <img class="card-img-top" id="tummy-img" src="/assets/img/burp3.jpg" alt="Tummy Image">
                    <div class="card-body">
                        <h3 class="card-title">Digest-Da-Burger</h3>
                        <ul>
                            {{#each burgers}}
                            {{#if this.devoured}}
                            <p>
                                {{this.burger_name}}
                                <button class="delete-burger burger-button" data-id="{{id}}">
                                    Burp!
                                </button>
                            </p>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{!-- <h2>Digest Da Burger</h2>
                <ul>
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <li>
                        {{this.burger_name}}
                        <button class="delete-burger" data-id="{{id}}">
                            Poo-Da-Burger
                        </button>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul> --}}
            </div>
        </div>
    </section>
</section>